<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <%- include('./partials/header.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <section class="d-flex flex-column justify-content-around align-items-center mt-5">
      
      <h1>Welcome to</h1>
  
      
      <img src="/images/logo.png" alt="">

      <div class="d-flex flex-row justify-content-around align-items-center">
        <p class="w-25">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia voluptate asperiores, est doloremque rerum sint dolor voluptatem quos iusto et perferendis facere ratione maxime quae repudiandae in, laborum laboriosam?</p>
        <a href="/fotos/add" class="btn btn-dark">Add foto</a>
      </div>
  

  
    </section>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
